
frontrunning/Latex/main.aux
*.log
frontrunning/Latex/main.synctex.gz
frontrunning/Latex/main.log
frontrunning/Latex/main.log
frontrunning/Latex/main.log
frontrunning/Latex/main.log
*.twbr
*.bbl
*.blg


*.out
auditing/Latex/main.aux
auditing/Latex/main.pdf
auditing/Latex/main.synctex.gz
